.Management-list{
    background-color: rgb(241, 199, 241);
}
.Management-list ul li{
   display: inline;
   margin: 10px;
   font-family: fantasy;
   font-size: 150%;
   
}
/* .Management-list ul{
    text-align: right;
} */
